#folder specified

programing_code/C#/Test4/CSharpIntermediate/

#file specified
gc++ 1.exe.dat
programing_code/Codeforces/*.exe
programing_code/leetcode/*.exe
programing_code/Contests/codechef/*.exe
programing_code/C++/Bohubrihi/*.exe
programing_code/C++/*.exe
programing_code/C++/Bohubrihi/output.txt
programing_code/HackerRank/*.exe
programing_code/HackerRank/Algorithm/*.exe





#all .vscode folder/subfolder 
**/.vscode
**/.cph
**/node_modules