
programing_code/Codeforces/.cph/
programing_code/Codeforces/.vscode/
programing_code/Contests/codechef/.vscode/
programing_code/Contests/codechef/.cph/

gc++ 1.exe.dat
programing_code/Codeforces/*.exe
programing_code/Contests/codechef/*.exe
programing_code/C++/Bohubrihi/*.exe
